/* ---- CSS RESET ---- */
*,
:after,
:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Color variables */
:root {
    --corpblue: #022b52;
    --corpred: #e70013;
    --vdkgrey1: #a1a8ad;
    --vdkgrey2: #ced2d3;
    --black: #000000;
    --white: #FFF;
    --highlight: #FAC5CC;
  }